*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}
/* SCROLL */ 
::-webkit-scrollbar{
    width: 15px;
    }
    /* COLOR DEL SCROLL */
    ::-webkit-scrollbar-track{
        background-color: rgba(0, 0, 0, 0.6);
        width: 50px;
    }
    /* FONDO DEL SCROLL */
    ::-webkit-scrollbar-thumb{
        background-color: #bb1133;
    }
body{
    background-color: rgba(0, 0, 0, 0.9);
}
/* evita el scroll horizontal */
body, html{
    overflow-x: hidden;
}
/* LINEA */
hr{
    width: 100%;
    border: none;
    border-top: 15px solid #bb1133;
    color: #bb1133;

}
/* ENCABEZADO */
.header{    
    background: black;

    /*position: fixed;*/
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 12%;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
    .logo{
        color: white;
        transition: 0.3s ease;

        font-size: 35px;
        font-weight: 600;
    }
    .logo:hover{
        color: #bb1133;
        text-shadow: 0 0 25px #bb1133,
                    0 0 50px #bb1133;
        transform: scale(1.3);
        cursor: context-menu;
    }
    span{
        color: #bb1133;
    }
    /* NOC COMO LLAMARTE */
    .navbar > a{
        font-size: 20px;
        color: white;
        border-bottom: 3px solid transparent;
        transition: 0.3s ease;

        margin: 0 20px;
        font-weight: 500;
    }
    .navbar > a:hover,
    .navbar > a:active{
        color: #bb1133;
        border-bottom: 3px solid #bb1133;
    }

/* Estilo general para la navegación */
.nav-content-2 {
    position: relative;
    overflow: hidden;
} 
/* PANEL OCUTLTO */
#expandable-list {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
    list-style: none;

    position: fixed;
    top: 26;
    right: -60%; /* Fuera de la vista inicialmente */
    width: 45%;
    height: 15vh; /* tamaño del panel */
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: right 0.3s ease; /* Animación suave */
}
#expandable-list a {
    color: #000; 
 }
  /* Botón */
#toggle-button {
    background-color: #bb1133;
    border-color: #bb1133;
    border-radius: 10px;

    padding: 10px;
    position: relative;
    z-index: 10; /* Asegúrate de que esté por encima del panel */
}
#toggle-button i {
    color: #ffffff; /* Cambia el color del ícono según tu diseño */
    font-size: 30px;
}  
/* Mostrar panel */
#expandable-list.active {
    right: 26; /* Mueve el panel a la vista */
}

/* FORMULARIO */
.formu{
    width: 100%;
    min-height: 65vh;
    text-align: center;
    padding-top: 50px;
}
    .field{
        font-weight: 600;
        
        margin-bottom: 20px;
        text-align: center;
        letter-spacing: 1px;
    }
    .field label{
        color: white;
        font-size: 30px;
        
        display: block;
    }
    .field input{
        font-size: 20px;

        min-width: auto;
        line-height: 1.5;
    }
    /* BOTON */
    input[type="submit"]{
        color: #fff;
        background-color: #bb1133;
        border: none;
        border-radius: 10px;
        box-shadow: 0 0 25px #bb1133,
                    0 0 50px #bb1133;
        transition: 0.3s ease;

        
        padding: 10px 30px;
        font-size: 22px;
    }
    input[type="submit"]:hover{
        transform: scale(1.1);
    }

@media (max-width: 768px) {
.header{
    padding: 25px;
    width: 100%;
    position: relative;
}
.logo{
    font-size: 30px;
}
    .navbar{
        display: none;
    }
    .nav-content-2{
        color:white;
        display:flex;
    }
.formu{
    min-height: 67vh;
    padding: 30% 0;
}
    .form{
        margin: 0;
        padding: 0;
    }
    .field label{
        font-size: 25px;
    }
    .field input{
        border-radius: 20px;
        font-size: 15px;
    }
    .form > input{
        font-size: 15px;
        margin-top: 10px;
    }
}    
    /* PIE DE PAGINA */
.footer{
    background-color: black;

    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
}
    .footer .social{
        color: white;
        text-align: center;
        padding-bottom: 25px;
    }
    .footer .social a{
        color: white;
        font-size: 24px;
        border: 2px solid #bb1133;
        border-radius: 50%;
        box-shadow: inset 0 0 10px #bb1133, 
                    0 0 10px #bb1133;
        transition: 0.3s ease;

        width: 40px;
        height: 40px;
        line-height: 38px;
        display: inline-block;
        text-align: center;
        margin: 0 8px;
    }
    .footer .social a:hover{
        color: #bb1133;
        border: 2px solid #bb1133;
        transform: scale(1.2) translateY(-10px);
    }
    .footer ul{
        font-size: 18px;

        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
        line-height: 1.6;
        text-align: center;
    }
    .footer ul li a{
        color: white;
        background: none;
        border-bottom: 3px solid transparent;
        transition: 0.3s ease;
    }
    .footer ul li a:hover{
        border-bottom: 3px solid #bb1133;
    }
    .footer ul li{
        display: inline-block;
        padding: 0 15px;
    }
    .footer .copyright{
        color: white;
        font-size: 12px;

        margin-top: 15px;
        text-align: center;
    }